/* styles.scss */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #62c3f4;
}

header, nav, main, footer {
    margin: 20px;
}

#mem{
    color: #0eae53;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

section {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

button {
    margin-top: 10px;
}
.nav {
    background-color: #6464df;
    border-bottom: 1px solid #162f87;
    border-radius: 10px;
     
}
.nav__link {
    color: #222;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1rem 3rem; 
}

.container {
    max-width: 1200px;
    max-height: 10;
    margin: 30px auto;
    background-color: #535ad8;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    
    


}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: grid;
    gap: 15px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;

}

button:hover {
    background-color: #45a049;
}


#postCreation {
    max-width: 1000px;
    margin: 70px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#postCreation h2 {
    text-align: center;
    color: #333;
}

#postForm {
    display: grid;
    gap: 15px;
}

label {
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    cursor: pointer;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#registration
{
    max-width: 1000px;
    margin: 70px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
